:root{
  --orange: darkorange;
  --button: #f1c40f;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Lato', sans-serif;
  background-color: #eee;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 75px;
  padding: 0 20px;
  
}

logo{
  width: 60vw;
}
@media (max-width: 650px) {
  logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
  #header-img{
    margin: 0;

  }
}

#header-img{
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:auto;
}


li{
  list-style:none;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vw;
}

.nav-link{
text-decoration: none;
font-weight: 500;
color: black;
font-size: 1rem;

}

#intro-header {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 5%;
  margin-top: 10%
}

.intro-text{
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#email{
  width: 20vw;
  height: 2rem;
  margin: 10px;
  padding: 10px;
  border: 1px solid #383838;
  background-color: white;
}


input::placeholder {
    opacity: 0.5;
    color: black;
}


#submit{
  width: 7rem;
  height: 2rem;
  border-radius: 0;
  border: 0;
  background-color:var(--button);
  font-weight: 1000;
  font-size: 1.1rem
}

.list-promo {
  display: flex;
  flex-direction: column;
  margin:  auto;
  width: 100%;
  max-width: 1000px
  
}

.promo{
  display: flex;
}


.iconlogo{
  color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  
}

.icontxt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
  margin: auto
}
#how-it-works{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}
.price-frames{
  display: grid;
  grid-template-columns:repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(1,auto);
  grid-gap: 10px;
  text-align: center;
  margin: 2% auto;
  width: 100%;
  max-width:1000px;
  overflow:scroll;
}


.frame{
  border: 1px solid black;
  margin: 10px;
}

.stage1{
background-color:lightgrey;
padding: 1%;
font-size:1.2rem
}



.price{
  font-weight: 900;
  font-size: 1.3rem;
  padding: 5%;
}

.loremipsum > li{
padding: 1%
}

.priceselect{
  background-color: var(--button);
  width : 30%;
  height: 15%;
  margin-bottom: 10%;
  border: 0;
}

.priceselect:hover{
  background-color: var(--orange);
}

footer{
  width: 100%;
  max-width: 1000px;
  background: lightgrey;
  margin: auto;
  text-align: right;
  padding-top:1rem;
  padding-bottom: 1rem
}

.footerlinks{
  text-decoration: none;
  background: none;
  color:black;
  padding-right: 5%; 
}

.footerlinks:hover{
  color:green;
}

.footer-txt{
  background: none;
  padding: 0.5rem;
  color:gray;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 75px;
  padding: 0 20px;
}
nav > ul {
  display: flex;
  flex-direction:column;
  text-align: center;
}

li{
  list-style:none;
}

.nav-link{
text-decoration: none;
font-weight: 500;
color: black;
font-size: 1rem;
text-align: center;
}
.nav-bar{
  display:flex;
  flex-direction:row;
}
#intro-header {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 5%;
  margin-top: 40%
}
  #email{
    width: 80vw;
  }
}